@using catering.Application.Managements.CartManagement;
@model CartModelDto

<div class="content">
    @if (Model.CartItems != null && Model.CartItems.Count > 0)
    {
        <div class="container-cart">
            <h2 class="cart-title">Cart</h2>
            <div class="accordion-cart">
                @for (var index = 0; index < Model.CartItems.Count; index++)
                {
                    var cartItem = Model.CartItems[index];

                    <div class="cart-item">
                        <div class="accordion-item-cart">
                            <button id="" aria-expanded="false">
                                <span class="accordion-title-cart">
                                    <h4>@cartItem.Product.Name</h4>
                                    <h4>---- kcal</h4>
                                    <h4>0 Days</h4>
                                    <h4>@cartItem.Product.Price$</h4>
                                </span>
                                <span class="icon" aria-hidden="true"></span>
                            </button>
                            <div class="accordion-content-cart">
                                <div class="content_cart">
                                    <h2>Configure your @cartItem.Product.Name</h2>
                                    <input type="hidden" id="productID" value="@cartItem.Product.Id">
                                    <h3>Select your calories</h3>
                                    <div class="container_checkbx">
                                        <div>
                                            <label>
                                                <input type="radio" name="cartItems[@index].Calories" value="1200">
                                                <span>
                                                    <img src="~/images/icons/check/check-yellow.svg">
                                                    1200
                                                </span>
                                            </label>
                                        </div>
                                        <div>
                                            <label>
                                                <input type="radio" name="cartItems[@index].Calories" value="1500">
                                                <span>
                                                    <img src="~/images/icons/check/check-yellow.svg">
                                                    1500
                                                </span>
                                            </label>
                                        </div>
                                        <div>
                                            <label>
                                                <input type="radio" name="cartItems[@index].Calories" value="1800">
                                                <span>
                                                    <img src="~/images/icons/check/check-yellow.svg">
                                                    1800
                                                </span>
                                            </label>
                                        </div>
                                        <div>
                                            <label>
                                                <input type="radio" name="cartItems[@index].Calories" value="2000">
                                                <span>
                                                    <img src="~/images/icons/check/check-yellow.svg">
                                                    2000
                                                </span>
                                            </label>
                                        </div>
                                        <div>
                                            <label>
                                                <input type="radio" name="cartItems[@index].Calories" value="2400">
                                                <span>
                                                    <img src="~/images/icons/check/check-yellow.svg">
                                                    2400
                                                </span>
                                            </label>
                                        </div>
                                    </div>

                                    <h3>Choose your meals</h3>
                                    <div class="container_checkbx">
                                        <div>
                                            <label>
                                                <input type="checkbox" name="cartItems[@index].Meals" value="Breakfast">
                                                <span>
                                                    Breakfast
                                                </span>
                                            </label>
                                        </div>
                                        <div>
                                            <label>
                                                <input type="checkbox" name="cartItems[@index].Meals" value="II Breakfast">
                                                <span>II Breakfast</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label>
                                                <input type="checkbox" name="cartItems[@index].Meals" value="Lunch">
                                                <span>Lunch</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label>
                                                <input type="checkbox" name="cartItems[@index].Meals" value="Dessert">
                                                <span>Dessert</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label>
                                                <input type="checkbox" name="cartItems[@index].Meals" value="Dinner">
                                                <span>Dinner</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="calendar-wrapper" id="calendar-wrapper-@index" data-index="@index">
                                        <header>
                                            <p class="current-date"></p>
                                            <div class="icons">
                                                <span class="prev material-symbols-rounded" data-index="@index">chevron_left</span>
                                                <span class="next material-symbols-rounded" data-index="@index">chevron_right</span>
                                            </div>
                                        </header>
                                        <div class="calendar">
                                            <ul class="weeks">
                                                <li>Sun</li>
                                                <li>Mon</li>
                                                <li>Tue</li>
                                                <li>Wed</li>
                                                <li>Thu</li>
                                                <li>Fri</li>
                                                <li>Sat</li>
                                            </ul>
                                            <ul class="days">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cart-button-container">
                            <form method="post" action="@Url.Action("Delete", "Cart")">
                                <input type="hidden" name="cartItemID" value=@cartItem.Id />
                                <button class="cart-remove-item" type="submit">
                                    <img src="~/images/icons/close/close.svg">
                                </button>
                            </form>
                        </div>
                    </div>
                }
                <div class="cart-next-container">
                    <button class="cart-next-button" type="button" id="submitButton" onclick="submitForm()">
                        Next
                    </button>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="empty-cart-container">
            <div class="empty-cart-content">
                <img class="empty-cart-main-image" src="~/images/icons/cart-empty/cart-empty.svg">
                <h2>Your cart is currently empty</h2>
                <p> Before proceed to checkout, you must add some diet to your cart.<br /> You will find a lot of interesting diets on our “Offer” page.</p>
                <a class="return-to-offer-button" asp-area="" asp-controller="Offer" asp-action="Index">
                    <img src="~/images/icons/shopping-cart/shopping-cart.svg">
                    <span>Return to offer</span>
                </a>
            </div>
        </div>
    }
</div>