@using catering.Application.Managements.CartManagement.Cart;
@model CartModelDto

<h1>Cart</h1>

@if (Model.CartItems != null && Model.CartItems.Count > 0)
{
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Product Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Image Name</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Product.Id</td>
                    <td>@item.Product.Name</td>
                    <td>@item.Product.Price</td>
                    <td>@item.Product.ImageName</td>
                    <td>
                        <form method="post" action="@Url.Action("Delete", "Cart")">
                        <input type="hidden" name="cartItemID" value=@item.Id />
                        <button type="submit">
                            X
                        </button>
                    </form>
                    </td>
                </tr>
 
            }
        </tbody>
    </table>
}
else
{
    <p>No products in the cart.</p>
}