@model AdminDashboardViewModel
@{
    ViewData["Title"] = "AdminDashboard";
}

<div class="main-admin">
    <div class="left-icon-panel-admin">
        <button class="admin-left-panel-button"
                onmouseenter="changeIcon(this, '/images/icons/user/user-yellow.svg')"
                onmouseleave="changeIcon(this, '/images/icons/user/user.svg')" onclick="showDiv(1, this)">
            <div class="icon"><img src="~/images/icons/user/user.svg" alt="Icon 1"></div>
        </button>
        <button class="admin-left-panel-button"
                onmouseenter="changeIcon(this, '/images/icons/discount/discount-yellow.svg')"
                onmouseleave="changeIcon(this, '/images/icons/discount/discount.svg')" onclick="showDiv(2, this)">
            <div class="icon"><img src="~/images/icons/discount/discount.svg" alt="Icon 2"></div>
        </button>
        <button class="admin-left-panel-button"
                onmouseenter="changeIcon(this, '/images/icons/shopping-cart/shopping-cart-yellow.svg')"
                onmouseleave="changeIcon(this, '/images/icons/shopping-cart/shopping-cart.svg')" onclick="showDiv(3, this)">
            <div class="icon"><img src="~/images/icons/shopping-cart/shopping-cart.svg" alt="Icon 3"></div>
        </button>
        <button class="admin-left-panel-button"
                onmouseenter="changeIcon(this, '/images/icons/package/package-yellow.svg')"
                onmouseleave="changeIcon(this, '/images/icons/package/package.svg')" onclick="showDiv(4, this)">
            <div class="icon"><img src="~/images/icons/package/package.svg" alt="Icon 4"></div>
        </button>
    </div>

    @*USERS*@
    <div id="div1-admin" class="hidden-admin section-admin div-with-table-admin">
        <div class="div-actions-admin">
            <h1 class="title-admin"> Users </h1>
        </div>
        <div class="div-search-bar-admin">
            <input type="text" class="input_field search-bar-admin" placeholder="Search..." id="search-user">
            <div class="counter-container-admin">
                <h1 class="search-counter-admin">
                    @Model.Users.Count()
                </h1>
                <h1 class="search-counter-results-admin"> Results </h1>
            </div>
        </div>
        <div class="table-div-admin">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone Number</th>
                        <th>Adress 1</th>
                        <th>Adress 2</th>
                        <th>Postal Code</th>
                        <th>Country</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Users)
                    {
                        <tr>
                            <td>@user.Id</td>
                            <td>@user.Email</td>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.DeliveryAdress.PhoneNumber</td>
                            <td>@user.DeliveryAdress.Adress1</td>
                            <td>@user.DeliveryAdress.Adress2</td>
                            <td>@user.DeliveryAdress.PostalCode</td>
                            <td>@user.DeliveryAdress.Country</td>
                            <td>
                                <button class="delete-button-admin">
                                    <img src="~/images/icons/close/close.svg">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    @*DISCOUNTS*@
    <div id="div2-admin" class="hidden-admin section-admin div-with-table-admin">
        <div class="div-actions-admin">
            <h1 class="title-admin"> Discount Codes </h1>
            <button class="create-button-admin" onclick="openModalAdminDiscount()">
                <img src="~/images/icons/plus/plus.svg">
                CREATE DISCOUNT
            </button>
        </div>
        <div class="div-search-bar-admin">
            <input type="text" class="input_field search-bar-admin" placeholder="Search..." id="search-discount">
            <div class="counter-container-admin">
                <h1 class="search-counter-admin">
                    @Model.Discounts.Count()
                </h1>
                <h1 class="search-counter-results-admin"> Results </h1>
            </div>
        </div>
        <div class="table-div-admin">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Code</th>
                        <th>Percentage value</th>
                        <th>Expiration date</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var discount in Model.Discounts)
                    {
                        <tr>
                            <td>@discount.Id</td>
                            <td>@discount.Code</td>
                            <td>@discount.DiscountPercentage%</td>
                            <td>@discount.Expiration</td>
                            <td>
                                <button class="delete-button-admin">
                                    <img src="~/images/icons/close/close.svg">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    @*ORDERS*@
    <div id="div3-admin" class="hidden-admin section-admin div-with-table-admin">
        <div class="div-actions-admin">
            <h1 class="title-admin"> Orders </h1>
        </div>
        <div class="div-search-bar-admin">
            <input type="text" class="input_field search-bar-admin" placeholder="Search..." id="search-order">
            <div class="counter-container-admin">
                <h1 class="search-counter-admin">
                    @Model.Orders.Count()
                </h1>
                <h1 class="search-counter-results-admin"> Results </h1>
            </div>
        </div>
        <div class="table-div-admin">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Order date</th>
                        <th>Price before discount</th>
                        <th>Discount code</th>
                        <th>Price after discount</th>
                        <th>Confirmed</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model.Orders)
                    {
                        <tr>
                            <td>@order.Id</td>
                            <td>@order.OrderDate.ToString("d")</td>
                            <td>@order.TotalPriceBeforeDiscount</td>
                            <td>@(order.DiscountCode != null ? order.DiscountCode.Code : "None")</td>
                            <td>@order.TotalPriceAfterDiscount</td>
                            <td>@order.Confirmed</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    @*PRODUCTS*@
    <div id="div4-admin" class="hidden-admin section-admin div-with-table-admin">
        <div class="div-actions-admin">
            <h1 class="title-admin"> Products </h1>
            <button class="create-button-admin" onclick="openModalAdminProduct()">
                <img src="~/images/icons/plus/plus.svg">
                CREATE PRODUCT
            </button>
        </div>
        <div class="div-search-bar-admin">
            <input type="text" class="input_field search-bar-admin" placeholder="Search..." id="search-product">
            <div class="counter-container-admin">
                <h1 class="search-counter-admin">
                    @Model.Products.Count()
                </h1>
                <h1 class="search-counter-results-admin"> Results </h1>
            </div>
        </div>
        <div class="table-div-admin">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Image Name</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>

    @*MODALS*@
    <div id="modal-create-product-admin" class="modal-admin">
        <div class="modal-product-content-admin">
            <span class="close-admin" onclick="closeModalAdminProduct()">&times;</span>
            <h2 class="modal-title-admin">Create new product</h2>
            <form enctype="multipart/form-data" id="createProductForm">
                <div class="form-group-admin">
                    <input class="input_field" placeholder="Name" type="text" id="name" asp-for="CreateProductCommand.Name" />
                    <span asp-validation-for="CreateProductCommand.Name" class="error"></span>
                </div>

                <div class="form-group-admin">
                    <input class="input_field" placeholder="Price" type="text" id="price" asp-for="CreateProductCommand.Price" />
                    <span asp-validation-for="CreateProductCommand.Price" class="error"></span>
                </div>

                <div class="form-group-admin">
                    <textarea class="input_field" placeholder="Description" id="description" asp-for="CreateProductCommand.Description"></textarea>
                    <span asp-validation-for="CreateProductCommand.Description" class="error"></span>
                </div>

                <div class="file-input">
                    <input type="file" id="file" class="file" accept="image/*" asp-for="CreateProductCommand.ImageFile">
                    <label for="file">
                        Select an image
                        <img src="~/images/icons/upload/upload.svg">
                        <p class="file-name"></p>
                    </label>
                    <span asp-validation-for="CreateProductCommand.ImageFile" class="error"></span>
                </div>

                <div class="buttons-admin">
                    <button class="modal-cancel-admin" onclick="closeModalAdminProduct()">
                        Cancel <img class="" src="~/images/icons/close/close.svg">
                    </button>
                    <button class="modal-create-admin" type="submit" onclick="submitForm(event)">
                        Create New <img class="" src="~/images/icons/plus/plus.svg">
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div id="modal-create-discount-admin" class="modal-admin">
        <div class="modal-discount-content-admin">
            <span class="close-admin" onclick="closeModalAdminDiscount()">&times;</span>
            <h2 class="modal-title-admin">Create new product</h2>
            <form>
                <div class="form-group-admin">
                    <input class="input_field" placeholder="Name" type="text" id="name" />
                    <span class="error"></span>
                </div>
                <div class="form-group-admin">
                    <input class="input_field" placeholder="Percent value" type="text" id="price" />
                    <span class="error"></span>
                </div>
                <div class="form-group-admin" id="birthdatePicker">
                    <input class="input_field" placeholder="Expiration date" id="description" />
                    <span class="error"></span>
                </div>

                <div class="buttons-admin">
                    <button class="modal-cancel-admin" onclick="closeModalAdminDiscount()">
                        Cancel <img class="" src="~/images/icons/close/close.svg">
                    </button>
                    <button class="modal-create-admin">
                        Create New <img class="" src="~/images/icons/plus/plus.svg">
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        flatpickr("#birthdatePicker input", {
            dateFormat: "d-m-Y",
            minDate: new Date().fp_incr(0),
        });
    });
    </script>
    <script src="~/js/admin-dashboard-products.js"></script>

	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}