@using catering.Domain.Entities.OrderEntities;
@model UserDashboardViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="content">

    <div class="left-icon-panel-user">
        <button class="user-left-panel-button" onmouseenter="changeIconUser(this, '/images/icons/user/user-yellow.svg')"
                onmouseleave="changeIconUser(this, '/images/icons/user/user.svg')" onclick="showDivUser(1, this)">
            <div class="icon"><img src="~/images/icons/user/user.svg" alt="Icon 1"></div>
        </button>
        <button class="user-left-panel-button" onmouseenter="changeIconUser(this, '/images/icons/package/package-yellow.svg')"
                onmouseleave="changeIconUser(this, '/images/icons/package/package.svg')" onclick="showDivUser(2, this)">
            <div class="icon"><img src="~/images/icons/package/package.svg" alt="Icon 2"></div>
        </button>
    </div>



    <div class="center-container-user-panel">
        <div id="div1-user-panel" class="hidden-user-panel">
            <form id="user-panelForm" class="content-user-panel">
                <div class="account-info-title-user-panel-div">
                    <h1 class="account-info-title-user-panel"> Account Information </h1>
                </div>
                <div class="user-panel-inputs-container">
                    <div class="user-panel-right-section">
                        <div class="input user-panel-input">
                            <input class="input_field" type="text" autocomplete="new-password" aria-required="true" asp-for="DeliveryAdressInputDto.Adress1"
                                value="@Model.DeliveryAdress.Adress1" placeholder=" " />
                            <span class="input_label">
                                <img src="~/images/icons/home/home-yellow.svg" class="input_icon" />
                                Address 1
                            </span>
                            <span asp-validation-for="DeliveryAdressInputDto.Adress1" class="error" id="deliveryAdressInputDto.Adress1-valid"></span>
                        </div>

                        <div class="input user-panel-input">
                            <input class="input_field" type="text" autocomplete="new-password" aria-required="true" asp-for="DeliveryAdressInputDto.Adress2"
                                value="@Model.DeliveryAdress.Adress2" placeholder=" " />
                            <span class="input_label">
                                <img src="~/images/icons/home/home-yellow.svg" class="input_icon" />
                                Address 2
                            </span>
                            <span asp-validation-for="DeliveryAdressInputDto.Adress2" class="error" id="deliveryAdressInputDto.Adress2-valid"></span>
                        </div>

                        <div class="user-panel-two-in-one-inputs">
                            <div class="input user-panel-small-input">
                                <input class="input_field" type="text" autocomplete="new-password" asp-for="DeliveryAdressInputDto.PostalCode"
                                    value="@Model.DeliveryAdress.PostalCode" aria-required="true" placeholder=" " />
                                <span class="input_label">
                                    <img src="~/images/icons/map-pin/map-pin-yellow.svg" class="input_icon" />
                                    Pastal code
                                </span>
                                <span asp-validation-for="DeliveryAdressInputDto.PostalCode" class="error" id="deliveryAdressInputDto.PostalCode-valid"></span>
                            </div>

                            <div class="input user-panel-small-input">
                                <input class="input_field" type="text" autocomplete="new-password" asp-for="DeliveryAdressInputDto.State"
                                    value="@Model.DeliveryAdress.State" aria-required="true" placeholder=" " />
                                <span class="input_label">
                                    <img src="~/images/icons/map-pin/map-pin-yellow.svg" class="input_icon" />
                                    State/Region
                                </span>
                                <span asp-validation-for="DeliveryAdressInputDto.State" class="error" id="deliveryAdressInputDto.State-valid"></span>
                            </div>
                        </div>

                        <div class="input user-panel-input">
                            <input class="input_field" type="text" autocomplete="new-password" aria-required="true" asp-for="DeliveryAdressInputDto.Country"
                                value="@Model.DeliveryAdress.Country" placeholder=" " />
                            <span class="input_label">
                                <img src="~/images/icons/globe/globe-yellow.svg" class="input_icon" />
                                Country
                            </span>
                            <span asp-validation-for="DeliveryAdressInputDto.Country" class="error" id="deliveryAdressInputDto.Country-valid"></span>
                        </div>

                        <div class="input user-panel-input">
                            <input class="input_field" type="tel" autocomplete="new-password" aria-required="true" asp-for="DeliveryAdressInputDto.PhoneNumber"
                                value="@Model.DeliveryAdress.PhoneNumber"placeholder=" " />
                            <span class="input_label">
                                <img src="~/images/icons/phone/phone-yellow.svg" class="input_icon" />
                                Phone number
                            </span>
                            <span asp-validation-for="DeliveryAdressInputDto.PhoneNumber" class="error" id="deliveryAdressInputDto.PhoneNumber-valid"></span>
                        </div>
                    </div>
                </div>

                <div class="user-panel-btn-conteiner">
                    <button id="user-panelSubmit" type="submit" class="btn-with-icon" onclick="submitDiscountForm(event)">
                        <span>Update</span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div id="div2-user-panel" class="section-admin div-with-table-user-panel hidden-user-panel">
        <div class="div-actions-user-panel">
            <h1 class="title-user-panel"> Orders </h1>
        </div>
        <div class="div-search-bar-user-panel">
            <div class="search-bar-container-user-panel">
                <input type="text" class="input_field search-bar-user-panel" placeholder="Search...">
                <button class="clean-search-button-user-panel" onclick="clearInput('search-order')">
                        <img src="~/images/icons/close/close.svg"/>
                </button>
            </div>
            <div class="counter-container-user-panel">
                <h1 class="search-counter-user-panel">
                    42
                </h1>
                <h1 class="search-counter-results-user-panel"> Results </h1>
            </div>
        </div>
        <div class="table-div2-user-panel">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Order Date</th>
                        <th>Price</th>
                        <th>Paid</th>
                        <th>Expand</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model.Orders)
                    {
                        <tr>
                            <td>@order.Id</td>
                            <td>@order.OrderDate.ToString("d")</td>
                            <td>@order.TotalPriceAfterDiscount</td>
                            <td>@order.Paid</td>
                            <td>
                                <button class="expand-button-user-panel" onclick="toggleOrderDetailsUser(this)">
                                    <img src="~/images/icons/arrow-down/arrow-down.svg">
                                </button>
                            </td>
                        </tr>
                        <tr class="order-details">
                            <td colspan="8" class="subtable-td-user-panel">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Product Name</th>
                                            <th>Price</th>
                                            <th>Calories</th>
                                            <th>Meals</th>
                                            <th>Dates</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var orderItem in order.OrderItems)
                                        {
                                            <tr>
                                                <td>@orderItem.Product.Name</td>
                                                <td>@orderItem.Product.Price</td>
                                                <td>@orderItem.Calories</td>
                                                <td class="subtable-date-padding">
                                                    @{
                                                        var meals = "";
                                                        foreach (var meal in orderItem.Meals)
                                                        {
                                                            meals += meal.Meal + '\n';
                                                        }
                                                    }
                                                    @meals
                                                </td>
                                                <td class="subtable-date-padding">
                                                    @{
                                                        var dates = "";
                                                        foreach (var date in orderItem.Dates.OrderBy(d => d.Date))
                                                        {
                                                            dates += date.Date.ToString("d") + '\n';
                                                        }
                                                    }
                                                    @dates
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>