<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Catering.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Catering.MVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <a class="logo" asp-controller="Home" asp-action="Index"><img src="~/Images/logo.svg" alt="logo" asp-area=""></a>
        <nav>
            <ul class="nav_links">
                <li><a class="@(ViewData["Title"] == "Offer" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Offer">Offer</a></li>
                <li><a class="@(ViewData["Title"] == "FAQ" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="FAQ">FAQ</a></li>
                <li><a class="@(ViewData["Title"] == "Pricing" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Pricing">Pricing</a></li>
                <li><a class="@(ViewData["Title"] == "Contact" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
            </ul>
        </nav>
        <button class="cta">Sign in</button>
    </header>

    <div class="content">
        @RenderBody()
    </div>

    <footer>
        <a class="logo_nav" asp-controller="Home" asp-action="Index"><img src="~/Images/logo.svg" alt="logo" asp-area=""></a>
        <ul class="nav_links">
            <li><a asp-area="" asp-controller="Home" asp-action="Offer">Offer</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="FAQ">FAQ</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Pricing">Pricing</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
        </ul>
        <div class="socials">
            <img class="social" src="~/Images/Facebook.svg" alt="logo">
            <img class="social" src="~/Images/Instagram.svg" alt="logo">
        </div>
        <a>Copyrights © 2023</a>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
